<div *ngIf="contract">

  <h2>{{contract.name}} - {{contract.contract}}</h2>

  <h3>Members</h3>
  <div *ngFor="let member of contract.members; let i = index"><!--value = contract.values[index]">-->
    {{member}}: {{stringify(contract.values[i])}}
  </div>

  <h3>Methods</h3>
  <div *ngFor="let method of contract.methods">
    <app-operation [agent]="agent" [name]="contract.name" [method]="method.name" [arguments]="method.arguments"
    (updateContractEvent)="contract=$event"></app-operation>
  </div>

  <h3>Code</h3>
  <pre>
    <code [highlight]="contract.code"></code>
  </pre>

<!--  <div><span>type: </span>{{contract.name}}</div>
  <div>
    <label>name:
      <input [(ngModel)]="contract.name" placeholder="name"/>
    </label>
  </div>

  <button (click)="save()">save</button>
  <button (click)="goBack()">go back</button>
-->
</div>
