<h1>{{title}}</h1>
<mat-form-field appearance="fill">
  <mat-label>Select agent</mat-label>
  <mat-select [(ngModel)]="agent" (selectionChange)="onSelect()">
    <mat-option *ngFor="let name of names" [value]="name">
      {{name}}
    </mat-option>
  </mat-select>
</mat-form-field>
<mat-form-field appearance="fill">
  <mat-label>Add agent</mat-label>
  <input matInput [(ngModel)]="newAgent">
</mat-form-field>
<button mat-raised-button (click)="onAddAgent()">Register</button>
<div *ngIf="agent">
  <h2>{{agent}}'s Digital Agent</h2>
  <nav mat-tab-nav-bar>
    <a mat-tab-link routerLink="/{{agent}}/contracts">Contracts</a>
    <a mat-tab-link routerLink="/{{agent}}/deploy">Deploy</a>
    <a mat-tab-link routerLink="/{{agent}}/partner">Partner</a>
  </nav>
  <router-outlet></router-outlet>
</div>
<app-messages></app-messages>
